/*** ESSENTIAL STYLES ***/
.main-nav, .main-nav * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.main-nav {
	line-height:	1.0;
	position:		relative;
}
.main-nav ul {
	position:		absolute;
	top:			-999em;
	width:			220px; /* left offset of submenus need to match (see below) */
	z-index:		10000;
}
.main-nav ul li {
	width:			100%;
}
.main-nav li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.main-nav li {
	float:			left;
	position:		relative;
}
.main-nav a {
	display:		block;
}
.main-nav li:hover ul, .main-nav li.sfHover ul {
	left:			0;
	top:			55px; /* match top ul list item height */
	z-index:		99;
}
ul.main-nav li:hover li ul, ul.main-nav li.sfHover li ul {
	top:			-999em;
}
ul.main-nav li li:hover ul, ul.main-nav li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
ul.main-nav li li:hover li ul, ul.main-nav li li.sfHover li ul {
	top:			-999em;
}
ul.main-nav li li li:hover ul, ul.main-nav li li li.sfHover ul {
	left:			200px; /* match ul width */
	top:			0;
}
/*** Skin ***/
.main-nav li {
	float:left;
	width:110px;
	text-align:center;
}
.main-nav li.required{
	width:170px;
}
.main-nav li a {
	color: #dc7b14;
	font:14px/48px 'Conv_BreeSerif-Regular';
	text-decoration: none;	
	margin-right:2px;
	display:block;
}
.main-nav li a .last-child{
	margin-right:0;
}


.main-nav li a:hover, .main-nav li:hover > a, .main-nav li.sfHover li li a:hover, .main-nav li li li {

	background:#f1f2f2;

	color: #085180;

	text-shadow: 1px 1px 1px #ffffff;
}
.main-nav li a.active{

	background:#f1f2f2;

	color: #085180;

	text-shadow: 1px 1px 1px #ffffff;
}

/*Second Level*/
.main-nav li li:hover, .main-nav li li li:hover{ background:none; padding:0;}
.main-nav ul {
	margin:-12px 0 0 0 !important;
	padding:5px 0;
}
.main-nav ul ul{
	margin:5px 0 0 -49px;
	padding:5px 0;
}
.main-nav li li a,
.main-nav li.sfHover li a,
/*3rd level*/
.main-nav li.sfHover li li a:hover
 {
	color:#fff;
	zoom:1;
	padding:2px 10px;
	display:block;
	text-align:left;
	background:#085180;
	text-transform:none;
	font:12px/18px arial;
}